<div class="form-booking">
  <%= simple_form_for [rocket, booking] do |f| %>
    <%= f.input :booking_start_date, class: 'form-booking-font' %>
    <%= f.input :booking_end_date, class: 'form-booking-font' %>
    <%= f.input :group_size, class: 'form-booking-font' %>
    <%= f.submit class: 'btn btn-ghost-booking' %>
  <% end %>
</div>
