
<main>
  <div class="container"
    <div class="row justify-content-center">
    <div class="col-8 sol-sm-8 col-lg-8">
      <h1>My Bookings</h1>
      <div class="bookings-table">
        <table class="table">
          <tr>
          <th> Rocket </th>
          <th> Booking Start Date </th>
          <th> Booking End Date </th>
          </tr>
          <% user_bookings = current_user.bookings %>
          <% user_bookings.each do |booking|%>]
          <tr>
          <th> <%= link_to booking.rocket.name, rocket_path(booking.rocket) %> </th>
          <th> <%= booking.booking_start_date %> </th>
          <th> <%= booking.booking_end_date %> </th>
          </tr>
          <% end %>
        </table>
      </div>

      <div class="my-rockets">
      <h2> My Rockets</h2>
        <div class="rocket-list">
          <% user_rockets = current_user.rockets %>
          <% user_rockets.each do |rocket| %>
            <div class="rocket-card">
              <%= cl_image_tag rocket.photo.key, height: 120, width: 120 if rocket.photo.attached? %>
              <div class="rocket-card-content">
                <div class="rocket-basic-info">
                  <h5><%= rocket.name %></h5>
                  <p><%= rocket.description %></p>
                </div>
                <div class="rocket-capacity-price">
                  <i class="material-icons mr-2">Capacity</i><span><%= rocket.capacity%> </span>
                  <i class="material-icons mr-2">£</i><%= rocket.price %>
                </div>
                <div class="rocket-actions">
                  <%= link_to 'Step Inside', rocket_path(rocket) %>
                </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>






  </div>

</main>
