<div class="col-12">
  <h1>My Bookings</h1>
  </div>
</div>

<table class="table">
  <% user_bookings = current_user.bookings %>
  <% user_bookings.each do |booking|%>
  <%= booking.rocket.name %>
  <%= booking.booking_start_date %>
  <%= booking.booking_end_date %>
  <% end %>
</table>

<div class="col-12">
  <h1>My Rockets</h1>
  </div>
</div>

<table class="table">
  <% user_rockets = current_user.rockets %>
  <% user_rockets.each do |rocket|%>
  <%= rocket.name %>
  <%= rocket.price %>
  <%= rocket.capacity %>
  <% end %>
</table>
