<main>
  <div class="container booking">
    <div class="row justify-content-center">
    <div class="col-8 sol-sm-8 col-lg-8">
      <h2>My Bookings</h2>
      <div class="bookings-table">
        <table class="table">
          <tr>
          <th class="title-text"> Rocket </th>
          <th class="title-text"> Start Date </th>
          <th class="title-text"> End Date </th>
          </tr>
          <% user_bookings = current_user.bookings %>
          <% user_bookings.each do |booking|%>
          <tr>
          <th class="title-text"> <%= link_to booking.rocket.name, rocket_path(booking.rocket) %> </th>
          <th class="title-text"> <%= booking.booking_start_date %> </th>
          <th class="title-text"> <%= booking.booking_end_date %> </th>
          </tr>
          <% end %>
        </table>
      </div>

      <div class="my-rockets">
      <h2> My Rockets</h2>
        <div class="rocket-cards">
          <% user_rockets = current_user.rockets %>
          <% user_rockets.each do |rocket| %>
            <div class="rocket-card">
              <%= cl_image_tag rocket.photo.key, height: 120, width: 150 if rocket.photo.attached? %>
              <div class="rocket-card-content">
                <div class="rocket-basic-info">
                  <h5><%= rocket.name %></h5>
                  <h5><%= rocket.address %></h5>
                </div>
                <p><%= rocket.description %></p>
                <div class="rocket-capacity-price">
                  <i class="material-icons mr-2">Capacity</i><span><%= rocket.capacity%> </span>
                  <i class="material-icons mr-2">£</i><%= rocket.price %>
                  <i class="material-icons mr-2">Range: </i><%= rocket.range %>
                  <i class="material-icons mr-2">Power: </i><%= rocket.power %>
                </div>
                <div class="rocket-actions">
                  <%= link_to 'Edit', edit_rocket_path(rocket), class: 'ml-3 text-warning' %>
                  <%= link_to "Remove", rocket_path(rocket), method: :delete, data: { confirm: "Are you sure?" }, class: 'ml-3 text-danger' %>
                </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</main>
