<%# <div class="form-rocket"> %>
  <%= simple_form_for @rocket do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :capacity %>
    <%= f.input :range %>
    <%= f.input :power %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
<%# </div> %>
