<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Rocket Ships</h1>
    </div>
  </div>

<div id="map" class="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @rockets.count %> rockets out of our <%= Rocket.count %> on our website.</p>
      <% else %>
        <p>All <%= Rocket.count %> rockets.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @rockets.each do |rocket| %>
      <div class="col-4">
        <div class="rocket-card">
          <%# <div class="flat-card-image" style="background-image: url('<%= flat.picture_url %>
          <div class="rocket-card-content">
            <div class="rocket-card-title">
              <h4><%= rocket.name %></h4>
            </div>
            <p><%= rocket.description %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">Capacity</i><span><%= rocket.capacity %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">£</i> <%= rocket.price %>
              </div>
            </div>
          </div>
          <div class="rocket-card-actions">
            <%= link_to 'More info', rocket_path(rocket) %>
            <%= link_to 'Edit', edit_rocket_path(rocket), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", rocket_path(rocket),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
