<div class="banner show">
</div>
<div class="container show">
  <div class="row">
    <div class="rocket-info col-6">
      <div class="rocket-show-card">
        <h5><b><%= @rocket.name %></b></h5>
        <p>Rocket launch site: <%= @rocket.address %></p>
        <%= cl_image_tag @rocket.photo.key, height: 300, width: 520 if @rocket.photo.attached? %>
      </div>
      <div class="rocket-show-card">
        <p class="rocket-show-description"><%= @rocket.description %></p>
      </div>
      <div class="rocket-show-card">
        <%= link_to "Back to rocket list", rockets_path %>
      </div>
    </div>

    <div class="rocket-spec col-3">
      <div class="rocket-show-card">
        <br>
        <br>
        <br>
        <%# <i class="fa-solid fa-users"></i><%= @rocket.capacity %>
        <p><b>Capacity: </b><%= @rocket.capacity %> humans</p>
        <i class="fa-solid fa-circle-dollar"></i>
        <p><b>Price:</b> £<%= @rocket.price %> / day</p>
        <p><b>Range: </b><%= @rocket.range %> light years</p>
        <p><b>Power: </b><%= @rocket.power %> horses</p>
      </div>
    </div>

    <div class="booking col-3">
      <div class="rocket-booking">
        <h5>Book this rocket</h5>
        <%= render 'bookings/form', rocket: @rocket, booking: @booking %>
      </div>
    </div>
  </div>
</div>
